.THIS.paddingCenter{
    padding: 0 10%;
}
.THIS .inputForm{
    padding: 5px 20px;
}
.THIS .slds-form{
    width: 100%;
}
.THIS .withoutLabels label.slds-form-element__label {
    display: none;
}
.THIS .withoutLabels .slds-form-element__control {
    padding-left: 0;
}
.THIS .inline {
    display: inline-block;
}
.THIS .slds-form-element__help {
    position: absolute;
}