.THIS.city_predictions{
    background: #ffffff;
    border-radius: 0 0 10px 10px;
    padding: 3px 10px 5px 10px;
    line-height: 26px;
    position: absolute;
    z-index: 9999;
}

.THIS.cityInput{
    border-radius: 10px 10px 0 0;
    border-color: #ffffff;
}